.imglogo {
    height: 300px;
    margin-left: 41px;
    margin-top: 39px;
}
.cust1 {
    margin-top: 30px;
    margin-left: 100px;
} 
.cust2 {
    margin-left: 35px;
    margin-top: 30px;
}  
.cust3 {
    margin-top: 50px;
    margin-left: 20px;
}

.cust4 {
    margin-top: 50px;
    margin-left: 62px;
}